<!doctype html>

<html>
  <head>
    
    <meta charset="utf-8">
    <title>Your Title Goes Here</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <!-- Design Your Site Here! -->
    <ul>
      <li> <a href= "home.erb"> home</a></li>
      <li> <a href= "happy.erb">happy</a></li>
      <li> <a href= "#"> about us</a></li>
      <li> <a href= "stressed.erb">stressed</a></li>
      <li> <a href= "peaceful.erb">peaceful </a></li>
      <li> <a href= "upset.erb">upset</a></li>
    </ul>
    <div class="about-us">
      <img src="https://lh3.googleusercontent.com/wvtykb8vthmwB7FFT_4k8SziBQPkufRMjHK3-qw_s_JHVNRs9pvI0JDIhshktU8sVqfsDftVXIgRTtB5jlAAfA3xp8Zgq-ItOE4m1fABDKTPW5bI1etlqxP9sFt1ib58ThNbd8WfD6pG3IEotOiIbPI17rS659b-GLiwXQekljgxcnVyH_hiPKMrsaDOBjTcX9v30n0xUW3NbahOKjgBibi31MYX6DDOBjAdgq92LdT9eYsShS5Obduo3weRY-zB_S3Sa9WmJY7mkqlRf4nX1Age6RWhx_NjhtJJfN9bNG7QL_QFH2NGW5MtqFOWSUG4ziGn9Z6JxbxM7p_MJQ8nQ9yUE1xWYKvjkRvylSTuNDHheP0VyPEA7Uk9OkIKcrsOs8QNmkhKg-HnRhvSSPg_KesBLW_sm2TK-yFqowoNw0JrVteSzSTwNUt5nqxn6vPa-BAfrHCd3RcI-6LWEA2HF5Dcp46RySa7zi71s16V4XCSBEEVsgLn_fczxQyKkKu8aZrdJseKhgNBxvgOKrp8UPjBFwpklismbyRFQDbfcFPIWW20hMpqNf6H35ww56BPowamvC-muQagw3dmLyyvTu3b-kxE9t9PUgVkDnI=w1080-h720-no">
      <img src="https://photos.app.goo.gl/KSSHuLmVrJnbpS5M8">
      <img src="https://lh3.googleusercontent.com/PRQAbRJNPjbjVQjdSkD92-99KxY36ouyVclbse0qB-53Xw8tls3nLa10wTmIoCXZVR7RAkjPnxiEocVFqBU4t1qvTgmXFpWJdcLgMV_4RKqz5ssRgj1AdD77CuGOa2JlvuUEF2fC4mRo3SVnfsWb2-UwgG23wyebcrH5yRAvwRyiq3G9AcAX8uUVclDjI3nFfBQdovzYdMU2S0ghtBRfEamjjo6EvojWiWLJAOmmSTE-GGlfi-mIbu3s7f8dkzv3Mor0NJOzMy5nlB1pWQk_s3Jr4Rbmh1Tzk_HrX7hwkUKmVSTZ0_iQK4fT2R1b-eqIQbGnnnpxf_obyo8ySvZjpt-5Dzlz8upqAa8EvNIf5K_Y6F2fJfK_di9uyILupw-dau58yasTaUts9vmW7vEy4mbTseexu48sz4aa6QwDM5vHsp9Pb3GMZkc80SgN6N2CjtoOS1f_LiGr7kVvf3x6215kCE2wH1rqnzLuQL_5U_0R-rIsk8Gbvqbh4P8zskMJJ2NYiytemIFBs-Sx1DqqiWCHMVYcyqYJdtv5sltK1a513B4KKuz0s9jl5QJofQWXaPMc6TKlyINFh19jRKzDe64sY68PqeZ-Bw_GqIs=w1080-h720-no">
      <img src="https://lh3.googleusercontent.com/1FgZtYZBegXYjEdHouGghGXJony0rXOiOj5d9gAuFJPEsZMHKf3Zr54EglM-HMOMpltGsKWSJNoIOKcPojAGPSvlo0twHQ8p9Wu26swHBoERuaIWXXYTcLC1gVH1tAkeG1DPYOC0rXbSFO6R1oTRfgyrdG0jzJuYO5R1HLlOjvxaC0yp5loBOgUoomuGHi6anBkWYe4X_FS5NtY-0MW33h8b1brv27IJF82h1GLyxNpUWKD2cy0kYgMk26rfw7NrY5esezxL2jKbdzcBIjT3tRnqPhOdJLfyzIuUAjehIpoX6clJcjzyLyw3lJ7mB0Mz55_wz2QydKoEBgLNO06LElNZiaeP0tl1SqX-NCFDbCIO87LazHcYtqZqrmDwEOxqGhMf04I4ipQ0MvvRtSprqM0wDIUkmXWr55Bj0CvYQr_B9vql8JoSSaLbCQ4xAeA7K553pImN4ymMgieBzlMQbvp7EwM_5WZqqwI0Z4Ruqwg0n_E50x5xW_sAcPiOGuRvc0T-7vKKZnZfszBVS3wA8pUr_K4Bpzn28Ru4sGEsjKWJkRWemK1GImAALdceoHx7fTerbUfZJSgakbHwRKWteCGNyvgMa-ERl6PvpwI=w1080-h720-no">
      <img src="https://lh3.googleusercontent.com/XxCWUJOrcCSuLDgq4cVu0pmD3-Rn5t_QbcQJy9NJd-x0gpclvdwe4JfVCY7p5BQL-6twZkykBSnPMq6gekPn3s4BTJW7gohOvJMVoNKLTyh0__45edR9_kT3F9UOzUcg4TKi8M8mS5Tu7yL5LctNha7rcxjMVHTiD4bZadE4iw2iucG2EIT3-qUNaIi-kqudmFA1kowXKVIH_wONU-bgR2vOcRp906Ym6yGTzj7hw3brJVe6264mBtPwJyItMl0a2mt_I--5CXnQhB5PJ20z8aSC2FAObJtz79edmTGP7SaMEbR5B4b3mP9w8O0cdmqeSOjuQ0rryiiVK95CNtnxzeRmHaaBooL0smxHdqqgTpfZ4N7tABpewgIKu87QqLLFtUGtgl-ZDWAgyMRXiBHF9XNrCDYHlLfSuzqTMokLVGBgTiS6NU4qKlCX-yxb8JnKloo2j4KxZ5dscqCsA-5-nxuEziJununpYBIdR8eRjIE_GxtBg76ZmxAE5e6MZ4p0IBXZoVfWm4BA9vUAHmkRli8J9a3ayh7sqBUcIbHQJgV9wJ5GsPbLztA069B8w1nKD461pII9ZjdnjDMYy9ZN4AZYyyi-hpxHf5DlVFk=w1080-h720-no">
      <img src="https://lh3.googleusercontent.com/3mLYe7R5ecye-Feio5T9bwPNqVuEuHpAadaWkR8BOElpmUzVRPdXjvdPMjueX6kSP5MBeCHHc2jDWcZ1WyNXteCnmniGRpiH7iWLGLbNGDqbiMqq-zNfttphNB7abQmF4xCAR8J0o-sPSRCuDFs6dc0CSnAjAcnuJ3tD8GoJ4hB5RyjUxJUNOiBdSEQqgs6G6xxtZiykjbRlGR39lvFeEjZdEs-Am7GiBI9zyJ_dgXHHwXFCm59lNQo8VkOFgLNPBO_AZr_o_twt-zYy9XWjqUDeP9vbDSBZxhVWPV4Oo5kLhyd-mVGJRRMeOTCHNsApcQc0yRk9C66eEpCKeYYd640qi_Vt3teuc6ms7y0npGL6b_PIe-e38z-IuweCgu43yedyr24pIIaDNUSDSTN64JfqdDYpR1gjvpJAZSErM1H_OwEPU2RJUNa2FlcObAxJkLlgLDODbHuWXWhWuAas7B8MlvEK-eTrOQIBKOOasoAJXGdWCcUbRoK1jQXmAe6vhdaHMp51YzeeuUYSyheEfFMVwmAolSZjnASoFP3T61rg-WMB_nD2589D4Ab-ZT_Du3R4wol94XMBYUSKwK7YHmQObEho7cULVErb1Rk=w1080-h720-no">
    <p>
      Our story... It all started when we decided to go to Kode with Klossy and learn how to code. With what we learned we were told to create a website, and the website we decided to make is this one! We made this for your mental wellness. Our mission was to help people reach complete elatedness. We hope that everyone by the time they are finished with their time on our site, everyone exits feeling hppier thsn before.
      
      From the team over here, to you,
                                     xoxo Alex, Delaney, Emi, Kiley  
  
    </p>
    </div>
  </body>
</html>