<!DOCTYPE html>
<html>
  <head>
    <title>Mood Swings</title>
    
    <style>
      .playlists {
        margin-top: 20px;
        background-color: #eaeaff;
        padding: 15px;
      }
    </style>
  </head>
  
  <body>
    <nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: #e7d3ff;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="happy">happy</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">about us</a>
                </li>
            </ul>
        </div>
     </nav>
      <div class="playlists card">
          <h1></h1>
          
         <div class="row">
          <div class= col-6>
           <ul> 
            <li>
              <img src="" width="100px">
              <a href="" target="_blank"> 
              </a>
            </li>
            <li>
              <img src="" width="100px" >
              <a href="" target="_blank"> 
              </a>
            </li>
          </ul>
         </div>
         
         <div class="col-6">
            <li>
              <img src="" width="100px" height=100px >
              <a href="" target="_blank">  
              </a>
            </li>
            <li>
               <img src="" width="100px" height="100px">
               <a href="" target="_blank"> 
               </a>
            </li>
          </ul>
        </div>
        
        <div class="card">
          <h1></h1>
           <li>
             <img src=""width="100px" height="100px">
             <a href="" target="_blank">
             </a>
           </li>
           <li>
             <img src=""width="100px" height="100px">
             <a href="" target="_blank">
             </a>
           </li>
        </div>
        <div class="card">
          <h1></h1>
           <p>
           </p>
        </div>
      </div>
    </div>
  </body>
</html>