<!DOCTYPE html>
<html>
  <head>
    <title>Mood Swings</title>
    
    <style>
  
    </style>
  </head>
  
  <body>
    <nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: white;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">happy</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_us">about us</a>
                </li>
            </ul>
        </div>
    </nav>
    
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="500">
          <img class="d-block w-100" src="https://images.pexels.com/photos/67857/daisy-flower-spring-marguerite-67857.jpeg?cs=srgb&dl=nature-flowers-garden-67857.jpg&fm=jpg" alt="happy" height="600px">
          <div class="carousel-caption d-none d-md-block">
            <h2>happy</h2>
          </div>
        </div>
        <div class="carousel-item" data-interval="500">
          <img class="d-block w-100" src="https://ak5.picdn.net/shutterstock/videos/4002085/thumb/1.jpg" alt="sad">
          <div class="carousel-caption d-none d-md-block">
            <h2>sad</h2>
          </div>
        </div>
        <div class="carousel-item" data-interval="500">
          <img class="d-block w-100" src="http://luisjimenez.com/wp-content/uploads/2017/05/dog-1.jpg" alt="stressed">
          <div class="carousel-caption d-none d-md-block">
            <h2>stressed</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>